// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#letters {
  display: flex;
}

#letters p {
  background-color: #3498DC;
  color: white;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border: solid 1px black;
  box-shadow: 4px 4px 7px #c8c8c8;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin-bottom: 20px;
}

#realform {
  display: flex;
}

#input {
  flex-grow: 1;
  padding: 20px;
  font-size: 20px;
}

#submit {
  padding: 18px;
  color: white;
  background-color: #3498DC;
  font-size: 20px;
}

#submit:hover {
  border-radius: 8px;
  border: solid 2px rgb(220, 220, 220);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
